<nav class="navbar navbar-expand-md navbar-light background-color: #e3f2fd;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Gatoraid</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <a class="nav-link" href="/about">About</a>
        <li class="nav-item">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/regions">Regions</a>
        </li>
        {% if session.logged_in %}
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        {% endif %}
      </ul>
      <span class="navbar-text">
          {% if session.logged_in %}
          <a href="/logout">Logout</a>
          {% else %}
          <a href="/register">Register</a>
          <a href="/login">Login</a>
          {% endif %}
      </span>
    </div>
  </nav>